/* Custom CSS */

.view-id-person_slices .views-row {margin-top:2em;}

#block-views-block-folio-credit-transcription-block-1 { width: 48%; float: right;}

#block-views-block-folio-debit-transcription-block-1 {float: left; width: 48%;}

#block-views-block-duplicate-of-folio-credit-transcription-block-1 {width: 48%; float: right; clear:both;} 