/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */



.field--name-field-person input {
   pointer-events: none;
    background: #ccc;
}
.field--name-field-person {
   background: #fba;
}

.field--name-field-person th {
    color: #a00;
    background: #bbb;
}





#block-views-block-transcription-lines-block-1 {width: 50%;
    float: right;}

.imgtrans .field__items, .pagesimg figure {overflow:scroll; resize: vertical; height:1080px;}
.imgtrans {margin-top:1.5em}

.refperson h2 {font-size:120%; font-weight:bold;}



.notehdr {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.thedebnote {
    display: none;
    padding : 1px;
    font-size: 85%;
    background: rgb(224, 224, 224);
    border: 1px dotted #666;
    border-top:0;
   
}

.field-name-field-bio-notes .field__item {
    display: none;
    padding : 12px;
    font-size: 80%;
}

.field-name-field-bio-notes {
  background:#eaeaea;
  margin-bottom: 3em;
}

.debnotehdr {background: #555;
    color:#eee;
    cursor: pointer;
    padding: 6px 6px;}
    
sup.fnote {font-weight:bold;
color:#06f;
cursor:pointer;}

.debnotehdr::before {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin: 0 5px;
}

.debnotehdr.visible::before {
    content: "\2212";
}

.thedebnote ol {padding-left:1.5em; margin-bottom:0.5em;}

abbr {cursor: help;
    text-decoration: none;
    border-bottom: 2px dotted #33f;
}

.glossaryterm  {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.glossaryterm .glossarytext {
  visibility: hidden;
  width: 25em;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -12em;
}

.glossaryterm .glossarytext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.glossaryterm:hover .glossarytext {
  visibility: visible;

}

#block-views-block-duplicate-of-folio-credit-transcription-block-1 {width: 48%; float: right; clear:both;}

#block-views-block-duplicate-of-folio-debit-transcription-block-1 {width:48%;}
