{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: masaon_at
 * Generated on: Mon, 30 Sep 19 20:39:06 -0400
 */
#}
{{ attach_library('masaon_at/masaon_at.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
